In [1]:
import pandas as pd

In [2]:
lithium = pd.read_csv('mcs2023-lithi_world.csv')
lithium_sali=pd.read_csv('mcs2023-lithi_salient.csv')
rareearth=pd.read_csv('mcs2023-raree_world.csv')
zirco_hafni=pd.read_csv('mcs2023-zirco-hafni_world.csv')
ocean=pd.read_csv('cleaned_wod_data.csv')

In [3]:
lithium

,Source,Country,Type,Prod_t_2021,Prod_t_est_2022,Prod_notes,Reserves_t,Reserves_notes
0,MCS2023,United States,"Mine production, lithium content",W,W,NaN,1000000,Revised based on information from Government a...
1,MCS2023,Argentina,"Mine production, lithium content",5970,6200,NaN,2700000,Revised based on information from Government a...
2,MCS2023,Australia,"Mine production, lithium content",55300,61000,NaN,6200000,Revised based on information from Government a...
3,MCS2023,Brazil,"Mine production, lithium content","1,700",2200,Production in 2021 is also estimated.,250000,Revised based on information from Government a...
4,MCS2023,Canada,"Mine production, lithium content",0,500,NaN,930000,Revised based on information from Government a...
5,MCS2023,Chile,"Mine production, lithium content",28300,39000,NaN,9300000,Revised based on information from Government a...
6,MCS2023,China,"Mine production, lithium content","14,000",19000,Production in 2021 is also estimated.,2000000,Revised based on information from Government a...
7,MCS2023,Portugal,"Mine production, lithium content",900,600,Production in 2021 is also estimated.,60000,NaN
8,MCS2023,Zimbabwe,"Mine production, lithium content",710,800,Production in 2021 is also estimated.,310000,Revised based on information from Government a...
9,MCS2023,Other countries,"Mine production, lithium content",0,0,NaN,3300000,Other countries with reported reserves: Austri...
10,MCS2023,"World total (rounded), excluding U.S. production","Mine production, lithium content",107000,130000,Excludes U.S. production.,26000000,NaN

In [4]:
rareearth

,Source,Country,Type,Prod_t_2021,Prod_t_est_2022,Prod_notes,Reserves_t,Reserves_notes
0,MCS2023,United States,"Rare earths, mine production, rare-earth-oxide...",42000,43000,NaN,2300000.0,NaN
1,MCS2023,Australia,"Rare earths, mine production, rare-earth-oxide...",24000,18000,Estimated in 2021 also.,4200000.0,"For Australia, Joint Ore Reserves Committee-co..."
2,MCS2023,Brazil,"Rare earths, mine production, rare-earth-oxide...",500,80,Estimated in 2021 also.,21000000.0,NaN
3,MCS2023,Burma,"Rare earths, mine production, rare-earth-oxide...",35000,12000,Estimated in 2021 also.,NaN,NaN
4,MCS2023,Burundi,"Rare earths, mine production, rare-earth-oxide...",200,0,Estimated in 2021 also.,NaN,NaN
5,MCS2023,Canada,"Rare earths, mine production, rare-earth-oxide...",0,0,NaN,830000.0,NaN
6,MCS2023,China,"Rare earths, mine production, rare-earth-oxide...",168000,210000,Production quota; does not include undocumente...,44000000.0,NaN
7,MCS2023,Greenland,"Rare earths, mine production, rare-earth-oxide...",0,0,NaN,1500000.0,NaN
8,MCS2023,India,"Rare earths, mine production, rare-earth-oxide...",2900,2900,Estimated in 2021 also.,6900000.0,NaN
9,MCS2023,Madagascar,"Rare earths, mine production, rare-earth-oxide...",6800,960,Estimated in 2021 also.,NaN,NaN
10,MCS2023,Russia,"Rare earths, mine production, rare-earth-oxide...",2600,2600,Estimated in 2021 also.,21000000.0,NaN
11,MCS2023,South Africa,"Rare earths, mine production, rare-earth-oxide...",0,0,NaN,790000.0,NaN
12,MCS2023,Tanzania,"Rare earths, mine production, rare-earth-oxide...",0,0,NaN,890000.0,NaN
13,MCS2023,Thailand,"Rare earths, mine production, rare-earth-oxide...",8200,7100,Estimated in 2021 also.,NaN,NaN
14,MCS2023,Vietnam,"Rare earths, mine production, rare-earth-oxide...",400,4300,NaN,22000000.0,NaN
15,MCS2023,Other countries,"Rare earths, mine production, rare-earth-oxide...",60,80,NaN,280000.0,NaN
16,MCS2023,World total (rounded),"Rare earths, mine production, rare-earth-oxide...",290000,300000,NaN,130000000.0,NaN

In [5]:
zirco_hafni

,Source,Country,Type,Prod_kt_est_2021,Prod_kt_est_2022,Prod_notes,Reserves_kt,Reserves_notes
0,MCS2023,United States,"Zirconium ores and zircon concentrates, mine p...",<100,<100,NaN,500.0,"Thousand metric tons, ZrO2 content. Calculate..."
1,MCS2023,Australia,"Zirconium ores and zircon concentrates, mine p...",500,500,NaN,48000.0,"Thousand metric tons, ZrO2 content. Calculate..."
2,MCS2023,China,"Zirconium ores and zircon concentrates, mine p...",140,140,NaN,500.0,"Thousand metric tons, ZrO2 content. Calculate..."
3,MCS2023,Indonesia,"Zirconium ores and zircon concentrates, mine p...",55,60,NaN,NaN,"Thousand metric tons, ZrO2 content. Calculate..."
4,MCS2023,Mozambique,"Zirconium ores and zircon concentrates, mine p...",100,100,NaN,1800.0,"Thousand metric tons, ZrO2 content. Calculate..."
5,MCS2023,Senegal,"Zirconium ores and zircon concentrates, mine p...",64,70,NaN,2600.0,"Thousand metric tons, ZrO2 content. Calculate..."
6,MCS2023,South Africa,"Zirconium ores and zircon concentrates, mine p...",320,320,NaN,5900.0,"Thousand metric tons, ZrO2 content. Calculate..."
7,MCS2023,Other countries,"Zirconium ores and zircon concentrates, mine p...",150,160,NaN,8500.0,"Thousand metric tons, ZrO2 content. Calculate..."
8,MCS2023,World total (rounded),"Zirconium ores and zircon concentrates, mine p...",1300,1400,Excludes U.S. production.,68000.0,"Thousand metric tons, ZrO2 content. Calculate..."

In [6]:
lithium_sali

,DataSource,Commodity,Year,USprod_t,Imports_t,Exports_t,Consump_t,Price_dt,Employment_num,NIR_pct
0,MCS2023,Lithium,2018,W,3420,1660,3000,16000,70,>50
1,MCS2023,Lithium,2019,W,2620,1660,2000,11700,70,>25
2,MCS2023,Lithium,2020,W,2460,1200,2000,8400,70,>50
3,MCS2023,Lithium,2021,W,2640,1870,2000,12600,70,>25
4,MCS2023,Lithium,2022,W,3400,2700,3000,37000,70,>25